@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui" {
  themes: light, dark --prefersdark --default;
}

@theme {
  --font-vazir: "Vazirmatn", sans-serif;
}
* {
  @apply !font-vazir;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #8e51ff;
  --color-secondary: #e04e6d;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #7f22fe;
  --color-secondary: #d12e51;
  --color-base-100: #18181b;
  --color-base-200: #27272a;
  --color-base-300: #3f3f47;
}
.menu a,
.menu li,
.menu button,
.menu div {
  @apply active:bg-base-200 active:text-base-content;
}
